<div class="section_under-searchbar">
  <table class="table table-hover section_under-searchbar">
    <thead>
      <tr>
        <th><%= t("batch_search.project_title_table") %></th>
        <th><%= t("batch_search.project_description_table") %></th>
        <th><%= t("batch_search.project_link_to_project_table") %></th>
        <th><%= t("batch_search.project_link_to_students_table") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="<%= "#{project.project_url}" %>">
            <%= project.name %></td>
          </a>
        <td>
          <% if @language == 'fr' %>
            <p><%= project.description_fr %> </p>
          <% else %>
            <p><%= project.description %></p>
          <% end %>
        </td>
        <td>
          <p>
            <%= link_to project.project_url, class: 'link-in-card', target: '_blank' do %>
            <i class='mdi-link-variant mdi for_desktop'></i>
            <span class="for_mobile">Link to project</span>
            <% end %>
          </p>
        </td>
        <td>
          <%= link_to "/#{@language}/batches/#{project.students.first.batch.name}/?student=#{project.students.first.id - 1}", class: 'link-in-card' do %>
            <i class='mdi-link-variant mdi for_desktop'></i>
            <span class="for_mobile">Link to students</span>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
