  <!-- github and project button-->
  <section class='modal-student'>
    <div class="col-md-12">
      <!-- project container -->
      <div class="project-container col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center"><%= t('modal.project_title') %> <a href="<%= @project.project_url %>" target="_blank" class="modal-project-title"><%= @project.name %></a></h2>
          </div>
        </div>
        <div class="row">
          <div class="modal-project-description col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-lg-8 col-lg-offset-2">
            <h2 class=""><%= t('modal.project_description') %></h2><br/>
            <% if @language == 'fr' %>
              <p><%= @project.description_fr %></p>
            <% else %>
              <p><%= @project.description %></p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-lg-8 col-lg-offset-2">
            <h3 class="text-center"><%= t('modal.student_on_project') %>  </h3>
          </div>
        </div>
        <div class="row student-flex-container">
          <% @project.students.each do |student| %>
          <div class="modal-project-students student-flex-item">
            <img src="/assets/batches/batch-<%= Batch.find(student.batch_id).name %>/<%= student.picture %>" alt="<%= student.first_name %> picture">
            <div class="container-name_github">
              <div class="student-name-item"><p><%= student.first_name %></p></div>
              <div class="student-github-item">
                <a class='modal-student-github' target='_blank' href="<%= student.github_url %>" data-toggle="tooltip" data-placement="bottom" title='<%= t("modal.link_github_tooltip") %>'>
                  <i class='mdi-github-circle mdi'></i></a>
                </a>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
