<!DOCTYPE html>
<html>
<head>
  <title>AlumniBrusselsLeWagon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <% if flash[:notice] %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert alert-warning"><%= alert %></p>
  <% end %>


  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:preload_animation) %>
</body>
</html>
