<!-- <div class="loader"></div> -->
<%= render partial: 'layouts/header', locals: { title: @title, subtitle: @subtitle } %>
<%= link_to root_path(I18n.locale), id: 'cross' do %>
  <i class='mdi mdi-close'></i>
<% end %>
<section class="students">
<ul class="container students list-unstyled">
  <% @students.each_with_index do |student, id| %>
    <li <%= student_attributes(id, student, student.batch_id) %> data-per-row="<%= @per_row %>" class="students-list-item hovered per-row-<%= @per_row %>">
      <figure class="student-card">
        <div class="card-front card-front-0" data-src="<%# asset_path "batches/batch-#{@batch.name}/#{student.picture}" %>">
          <%= image_tag "batches/batch-#{@batch.name}/#{student.picture}", class: "img-responsive" %>
        </div>
        <div class="card-back card-back-0">
          <div class="card-wrapper">
            <h2><%= student.first_name %></h2>
            <% unless student.fake %>
              <figcaption>
                <%= link_to student.portfolio_url, class: 'link-in-card', target: '_blank' do %>
                  <i class='mdi-link-variant mdi'></i>
                <% end %>
                <% if student.github_url %>
                  <%= link_to student.github_url,class: 'github-in-card', target: '_blank' do %>
                    <i class='mdi-github-circle mdi'></i>
                  <% end %>
                <% end %>
              </figcaption>
            <% end %>
            <% if student.fake && student.first_name == "Batch #{@batch.name}" %>
              <%= link_to root_path(I18n.locale) do %>
                <button class="wagon-btn-style">Home</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </figure>
    </li>
  <% end %>
</ul>
</section>
<%= render 'layouts/modal_student' %>
<% content_for(:preload_animation) do %>
  <% javascript_include_tag 'batch_students' %>
<% end %>

